header {
  background-color: rgb(188, 174, 221);
  padding: 10px;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  height: 40px;
  margin: 0;
}
.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
